<?xml version="1.0" ?>
<robot name="target">
  <link concave="yes" name="baseLink">

    <collision concave="yes">
        <origin rpy="0 0 0" xyz="0 0 0"/>
       <geometry>
		<mesh filename="objs/mug.obj"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
		<mesh filename="objs/mug.obj"/>
      </geometry>
      <material name="silver">
        <color rgba="1.0 0.0 0.0 1.0"/>
      </material>
    </visual>


  </link>
</robot>
